In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('../../raw_data/miercoles_316airports.csv')

In [3]:
data

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_TIME,DISTANCE,SCHEDULED_ARRIVAL,CANCELLED
0,11,23,1,OO,FAT,SEA,135.0,748,815,0
1,6,4,4,WN,MKE,BWI,115.0,641,1250,0
2,6,9,2,AS,SEA,ANC,206.0,1448,51,0
3,11,9,1,AA,JFK,MIA,190.0,1089,1705,0
4,1,2,5,EV,IAH,DTW,171.0,1075,1711,0
...,...,...,...,...,...,...,...,...,...,...
714846,12,31,4,UA,IAH,TPA,125.0,787,2300,1
714847,12,31,4,UA,SFO,LAX,96.0,337,2136,1
714848,12,31,4,AA,MIA,SAN,337.0,2267,2256,1
714849,12,31,4,NK,FLL,IAG,175.0,1176,50,1
714850,12,31,4,AA,SAN,MIA,277.0,2267,547,1